.mui-alert {
  background: @mui-default-color;
  color: black;
  padding: 13px 15px;
  margin: 0 0 10px 0;
  &.mui-alert-primary {
    color: white;
    background: @mui-primary-color;
  }
  &.mui-alert-success {
    color: white;
    background: @mui-success-color;
  }
  &.mui-alert-info {
    color: white;
    background: @mui-info-color;
  }
  &.mui-alert-warning {
    color: white;
    background: @mui-warning-color;
  }
  &.mui-alert-danger {
    color: white;
    background: @mui-danger-color;
  }
}
