@mui-default-color: #E5E2E4;
@mui-default-hover-color: #c4bfc3;
@mui-primary-color: #00A5BF;
@mui-primary-hover-color: #05879c;
@mui-success-color: #82AE46;
@mui-success-hover-color: #678b37;
@mui-info-color: #8C6450;
@mui-info-hover-color: #634738;
@mui-warning-color: #DEC031;
@mui-warning-hover-color: #baa025;
@mui-danger-color: #E5004F;
@mui-danger-hover-color: #b40843;

@mui-select-background-color: #e5e2e4;
@mui-select-border-color: #ccc9cb;
