@mui-success-color: #86C166;
@mui-success-hover-color: #6fa353;
@mui-primary-color: #00A5BF;
@mui-primary-hover-color: #05879c;
@mui-info-color: #8C6450;
@mui-info-hover-color: #634738;
@mui-warning-color: #DEC031;
@mui-warning-hover-color: #baa025;
@mui-danger-color: #E5004F;
@mui-danger-hover-color: #b40843;
