@import "./appearance.less";

.mui-button {
  background: @mui-default-color;
  padding: 10px 20px;
  margin: 0;
  border: 0;
  color: black;
  outline: none;
  cursor: pointer;
  height: 44px;
  &:hover {
    background: @mui-default-hover-color;
  }
  &.mui-button-primary {
    color: white;
    background: @mui-primary-color;
    &:hover {
      background: @mui-primary-hover-color;
    }
  }
  &.mui-button-success {
    color: white;
    background: @mui-success-color;
    &:hover {
      background: @mui-success-hover-color;
    }
  }
  &.mui-button-info {
    color: white;
    background: @mui-info-color;
    &:hover {
      background: @mui-info-hover-color;
    }
  }
  &.mui-button-warning {
    color: white;
    background: @mui-warning-color;
    &:hover {
      background: @mui-warning-hover-color;
    }
  }
  &.mui-button-danger {
    color: white;
    background: @mui-danger-color;
    &:hover {
      background: @mui-danger-hover-color;
    }
  }
}

.mui-select {
  background: @mui-default-color;
  outline: 0;
  height: 44px;
  border: 0;
  cursor: pointer;
  &:hover {
    background: @mui-default-hover-color;
  }
}

.toggle-switch {
  @toggle-switch-border-color: #ccc;
  @toggle-switch-button-size: 20px;

  .appearance(none);
  display: inline-block;
  position: relative;
  width: @toggle-switch-button-size * 2;
  height: @toggle-switch-button-size;
  background: @mui-default-color;
  box-sizing: content-box !important; /* XXX: normalize.cssでborder-boxにされるためimportをつけてる */
  border: 1px solid @toggle-switch-border-color;
  border-radius: @toggle-switch-button-size;
  outline: 0;
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: @toggle-switch-button-size;
    height: @toggle-switch-button-size;
    box-sizing: border-box;
    background: white;
    border: 1px solid @toggle-switch-border-color;
    border-radius: @toggle-switch-button-size;
  }
  &:checked {
    background: @mui-primary-color;
    &:after {
      right: 0;
    }
  }
}
